# Tell Lombok to copy JSpecify annotations
lombok.copyableAnnotations+=org.jspecify.annotations.NonNull
lombok.copyableAnnotations+=org.jspecify.annotations.Nullable

# (Optional, but helpful for builders) Tell Lombok to use JSpecify for nullness
#lombok.addNullAnnotations=CUSTOM:org.jspecify.annotations.NonNull
