<!doctype html>
<html layout:decorate="~{fragments/template}">
  <head>
    <title th:text="#{authUserChangePassword.head.title}"></title>
  </head>

  <body>

    <div layout:fragment="mainContent">
      <div class="card">
        <h4 class="card-header"><strong th:text="#{authUserChangePassword.main.title}"></strong></h4>
        <div class="card-body">

          <form th:action="@{/my-user/auth-users/change-password (lang=${param.lang})}" th:object="${authUserCredentialsDTO}" method="post">

			<div class="mb-1" th:if="${errorMsg != null}">
			  <strong class="text-danger" th:text="${errorMsg}"></strong>
			  <br/>
			</div>

			<div class="mb-1" th:if="${successMsg != null}">
			  <strong class='alert alert-success' th:text="${successMsg}" role='alert'></strong>
			  <br/>
			</div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label for="email" class="form-label mt-2 mb-1" th:text="#{authUser.email}"></label>
                <input type="text" class="form-control" th:field="*{email}" required disabled></input>
              </div>
              <div class="col-md-6 form-group">
                <label for="password" class="form-label mt-2 mb-1" th:text="#{authUserCredentials.currentPassword}"></label>
                <input type="password" th:field="*{password}" id="password" name="password" class="form-control" required></input>
                <br/>
                <label for="newPassword1" class="form-label mt-2 mb-1" th:text="#{authUserCredentials.newPassword1}"></label>
                <input type="password" th:field="*{newPassword1}" id="newPassword1" name="newPassword1" class="form-control" required></input>
                <br/>
                <label for="newPassword2" class="form-label mt-2 mb-1" th:text="#{authUserCredentials.newPassword2}"></label>
                <input type="password" th:field="*{newPassword2}" id="newPassword2" name="newPassword2" class="form-control" required></input>
                <br/>
              </div>
            </div>

            <hr/>
            <button type="submit" id="saveButton" class="btn btn-primary" th:text="#{button.save}"></button>

          </form>

        </div>
      </div>
    </div>

  </body>
</html>