<!doctype html>
<html layout:decorate="~{fragments/template}">
  <head>
    <title th:text="#{listJobRequests.head.title}"></title>
  </head>

  <body>

    <div layout:fragment="additionalStyles">
      <link th:href="@{/fontawesome-free-6.1.1-web/css/all.min.css}" rel="stylesheet"></link>
    </div>

    <div layout:fragment="mainContent">
      <div class="card">

        <h4 class="card-header"><strong th:text="#{listJobRequests.main.title}"></strong></h4>

        <div class="card-body">

          <div class="mb-1" th:if="${errorMsg != null}">
		    <strong class="text-danger" th:text="${errorMsg}"></strong>
		    <br/>
	      </div>

		  <div class="mb-1" th:if="${successMsg != null}">
			<strong class='alert alert-success' th:text="${successMsg}" role='alert'></strong>
			<br/>
		  </div>

          <div th:replace="fragments/tableFilterAndPaginationForm :: tableFilterAndPaginationForm('/job-requests/index', true, false, true)"></div>
          <br/>

          <table id="mainTable" class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col" th:text="#{abstractEntity.id}"></th>
                <th scope="col" th:text="#{jobRequest.jobVacancy}"></th>
                <th scope="col" th:text="#{jobRequest.jobCategory}"></th>
                <th scope="col" th:text="#{jobRequest.jobCompany}"></th>
                <th scope="col" th:text="#{jobRequest.authUserEmail}"></th>
                <th scope="col" th:text="#{jobRequest.authUserName}"></th>
                <th scope="col" th:text="#{jobRequest.authUserSurnames}"></th>
                <th scope="col" th:text="#{abstractEntity.firstRegistrationDateTime}"></th>
                <th scope="col" th:text="#{abstractEntity.firstRegistrationAuthUserEmail}"></th>
                <th scope="col" th:text="#{abstractEntity.lastModificationDateTime}"></th>
                <th scope="col" th:text="#{abstractEntity.lastModificationAuthUserEmail}"></th>
                <th scope="col" th:text="#{table.operations}" style="width:14%"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="jobRequest : ${jobRequests.content}">
                <td>
                  <a th:href="@{/job-requests/view/{id} (id=${jobRequest.id}, lang=${param.lang})}" th:text="${jobRequest.id}"></a>
                </td>
                <td>
                  <a th:href="@{/job-vacancies/view/{id} (id=${jobRequest.jobVacancy.id}, lang=${param.lang})}" th:text="${jobRequest.jobVacancy.name}"></a>
                </td>
                <td>
                  <a th:href="@{/job-categories/view/{id} (id=${jobRequest.jobVacancy.jobCategory.id}, lang=${param.lang})}" th:text="${jobRequest.jobVacancy.jobCategory.name}"></a>
                </td>
                <td>
                  <a th:href="@{/job-companies/view/{id} (id=${jobRequest.jobVacancy.jobCompany.id}, lang=${param.lang})}" th:text="${jobRequest.jobVacancy.jobCompany.name}"></a>
                </td>
                <td>
                  <a th:href="@{/auth-users/view/{id} (id=${jobRequest.authUser.id}, lang=${param.lang})}" th:text="${jobRequest.authUser.email}"></a>
                </td>
                <td th:text="${jobRequest.authUser.name}"></td>
                <td th:text="${jobRequest.authUser.surnames}"></td>
                <td th:text="${dateTimeUtils.convertToStringForWebPageField(jobRequest.firstRegistrationDateTime)}"></td>
                <td th:with="firstRegistrationAuthUserId=${jobRequest.getFirstRegistrationAuthUserId()}">
                  <a th:if="${firstRegistrationAuthUserId} != null" th:href="@{/auth-users/view/{id} (id=${firstRegistrationAuthUserId}, lang=${param.lang})}" th:text="${jobRequest.getFirstRegistrationAuthUserEmail('-')}"></a>
                  <span th:if="${firstRegistrationAuthUserId} == null" th:text="'-'"></span>
                </td>
                <td th:text="${dateTimeUtils.convertToStringForWebPageField(jobRequest.lastModificationDateTime)}"></td>
                <td th:with="lastModificationAuthUserId=${jobRequest.getLastModificationAuthUserId()}">
                  <a th:if="${lastModificationAuthUserId} != null" th:href="@{/auth-users/view/{id} (id=${lastModificationAuthUserId}, lang=${param.lang})}" th:text="${jobRequest.getLastModificationAuthUserEmail('-')}"></a>
                  <span th:if="${lastModificationAuthUserId} == null" th:text="'-'"></span>
                </td>
                <td>
                  <a th:href="@{/job-requests/delete/{id} (id=${jobRequest.id}, lang=${param.lang})}" th:attr="onclick='return confirm(\'' + #{operationButton.deleteJobRequest.confirm} + '\');'" class="btn btn-success btn-sm" role="button" th:title="#{operationButton.deleteJobRequest}">
                    <i class="fas fa-lg fa-trash-can" aria-hidden="true"></i>
                  </a>
                  <a th:href="@{/auth-user-curriculum-files/{curriculumFilePath} (curriculumFilePath=${jobRequest.authUserCurriculumFilePath}, lang=${param.lang})} " target="_blank" class="btn btn-success btn-sm" role="button" th:title="#{operationButton.downloadCurriculum}">
                    <i class="fas fa-lg fa-file-arrow-down" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <div th:replace="fragments/tablePagination :: tablePagination('/job-requests/index', ${jobRequests.totalPages}, ${jobRequests.number})"></div>

        </div>
      </div>
    </div>

    <div layout:fragment="additionalScripts">
      <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
	      let tableFieldCodeModelAttribute;
	      let tableFieldValueModelAttribute;
	      let tableOrderCodeModelAttribute;
	      let tablePageSizeModelAttribute;
	      let pageNumberModelAttribute;
          /*<![CDATA[*/
            tableFieldCodeModelAttribute = /*[[${tableFieldCode}]]*/ null;
            tableFieldValueModelAttribute = /*[[${tableFieldValue}]]*/ null;
            tableOrderCodeModelAttribute = /*[[${tableOrderCode}]]*/ null;
            tablePageSizeModelAttribute = /*[[${tablePageSize}]]*/ null;
            pageNumberModelAttribute = /*[[${pageNumber}]]*/ null;
          /*]]>*/
          
          treatFilterAndPaginationCombosAndUrlParameters(tableFieldCodeModelAttribute, tableFieldValueModelAttribute, tableOrderCodeModelAttribute, tablePageSizeModelAttribute, pageNumberModelAttribute);
        });
      </script>
    </div>

  </body>
</html>