<!doctype html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <link href="favicon.ico" rel="icon"></link>

    <title layout:title-pattern="$LAYOUT_TITLE"></title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap-5.2.0-dist/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/MDB5-STANDARD-UI-KIT-Free-4.2.0/css/mdb.min.css}" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <style>
      html {
        overflow-x: hidden;
      }

      main {
        min-height: 86.1vh;
        height: 100% !important;
      }
	</style>

	<div layout:fragment="additionalStyles"></div>

  </head>

  <body>

    <div class="container-fluid mx-0 px-0">

	  <header th:replace="fragments/menu :: menu"></header>

      <main role="main" class="mx-1 px-1 my-1 py-1">
        <input type="hidden" id="langSessionAttributeElement" name="langSessionAttributeElement" th:value="${session.sessionAuthUser?.language?.code}" />
        <div layout:fragment="mainContent"></div>
      </main>

      <div th:replace="fragments/footer :: footer"></div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-5.2.0-dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/MDB5-STANDARD-UI-KIT-Free-4.2.0/js/mdb.min.js}"></script>

    <!-- Custom scripts for this template -->
    <script type="text/javascript" th:src="@{/jobvacanciesapp-javascript-utils/url-params-utils.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      $(document).ready(function() {
	    let langSessionAttributeElement = document.getElementById("langSessionAttributeElement");

	    let langSessionAttribute = null;
	    if(langSessionAttributeElement != null) {
		  langSessionAttribute = langSessionAttributeElement.value;
	    }

	    let langModelAttribute;
        /*<![CDATA[*/
          langModelAttribute = /*[[${lang}]]*/ null;
        /*]]>*/

	    treatLangComboAndUrlParameter(langSessionAttribute, langModelAttribute);
      });
    </script>
    <div layout:fragment="additionalScripts"></div>

  </body>
</html>