<!doctype html>
<html layout:decorate="~{fragments/template}">
  <head>
    <title th:text="#{loginPage.head.title}"></title>
  </head>

  <body>

    <div layout:fragment="mainContent">
      <div class="card">
        <div class="card-body">
          <form th:action="@{/login (lang=${param.lang})}" method="post" class="form-signin">
            <div class="row">

              <div class="col-md-3"></div>

              <div class="col-md-6">

				<div class="row">

				  <div class="col-md-1"></div>

				  <div class="col-md-10">

				    <div class="mb-1">
                      <img class="mb-4 rounded mx-auto d-block" th:src="@{/images/lock.png}" height="128"></img>
                      <h4 class="h3 mb-3 font-weight-normal" th:text="#{loginPage.main.title}"></h4>
                    </div>

			        <div th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
			          <div class="mb-1">
			       	    <span class="text-danger" th:text="${errorMsg}"></span>
			       	    <br/>
			          </div>
			        </div>

                    <div class="mb-1" th:if="${errorMsg != null}">
		              <strong class="text-danger" th:text="${errorMsg}"></strong>
		              <br/>
	                </div>

		            <div class="mb-1" th:if="${successMsg != null}">
			          <strong class='alert alert-success' th:text="${successMsg}" role='alert'></strong>
			          <br/>
		            </div>

                    <p class="mb-1">
                      <label for="email" class="form-label mt-2 mb-1" th:text="#{authUserCredentials.email} + ':'"></label>
                      <input type="email" name="email" id="email" class="form-control" required autofocus></input>
                      <br/>
                    </p>

                    <p class="mb-1">
                      <label for="password" class="form-label mt-2 mb-1" th:text="#{authUserCredentials.password} + ':'"></label>
                      <input type="password" name="password" id="password" class="form-control" required></input>
                      <br/>
                    </p>

                    <p class="mb-1 form-check">
                      <label for="remember-me" class="form-check-label" th:text="#{button.rememberMe}"></label>
                      <input type="checkbox" name="remember-me" id="remember-me" class="form-check-input"></input>
                      <br/>
                    </p>

                    <div class="mb-1">
                      <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{button.enter}"></button>
                    </div>

                    <div class="mb-1">
                      <p class="text-primary" style="font-size: small"><span th:text="#{login.signup.text1} + ' '"></span><a th:href="@{/signup (lang=${param.lang})}" th:text="#{login.signup.text2}"></a></p>
                    </div>

                  </div>

                  <div class="col-md-1"></div>

                </div>

              </div>

              <div class="col-md-3"></div>

            </div>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>